* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: url("todo-image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  width: 350px;
  background: rgba(97, 97, 97, 0.5);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  color: #fff;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.app-title span {
  color: #00ffd5;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 2;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.input-group button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #00ffd5;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.input-group button:hover {
  background: #00c9aa;
}

#list {
  list-style: none;
}

#list li {
  background: rgba(255,255,255,0.2);
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list li .done {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

 #list li .done {
  text-decoration: line-through;
  color: #b5b5b5;
}

#list li button {
  background: #ff4d4d;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  font-weight: bold;
}

#list li button:hover {
  background: #ff1a1a;
}

.error {
  color: rgb(248, 255, 176);
  font-size: 16px;
  font-weight: bold;
}


